<script>
import RecordsList from "./components/RecordsList.vue";
import Statement from "./components/Statement.vue";
import CreateRecord from "./components/CreateRecordPage.vue";
export default {
    components: {RecordsList, Statement,
    CreateRecord},
    data(){
      return{
        showCreateRecord: false
      }
    },
    methods:{
      addNewRecord:function (){
        this.showCreateRecord = !this.showCreateRecord;
      }
    }
}
</script>

<template>
    <div class="container">
        <RecordsList/>
      <Statement/>
        <div v-if="showCreateRecord" id="addRecord">
          <CreateRecord/>
        </div>
      <p>
        <button v-on:click="addNewRecord">{{showCreateRecord?'Закрыть':'Добавить статью'}}</button>
      </p>
    </div>
</template>

<style scoped>
.container {
  width: 900px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 10px;
}
</style>
