<script setup>
import { ref} from "vue";
import {reactive} from "vue";
import axios from "axios";

const name= ref('');
const recordType = ref('');
const amount = ref();
const source = ref('');
const date = ref();
const group = ref(0);

const types = ref(['Revenue','Expense']);
const groupExpence =reactive([{name:'Материалы',value:1},{name:'Интернет',value:2},{name:'Аренда', value:3}]);

async function sendRecord() {
  try{
  let vm = {
    'id': 16,
    'Name': name.value,
    'RecordType':recordType.value,
    'Amount': {
      'currency':{
        'code':'KZT',
        'minorUnits':100,
      },
      'amount': amount.value
    },
    'Source': source.value,
    'CreationDate':date.value,
    'RecordGroupId': group.value
  }


    const response = await axios.post("https://localhost:7000/api/Records", vm);
    if (response.status === 200) {
    } else {
      console.error("Ошибка при отправке данных");
    }
  } catch(error) {
    console.error("Произошла ошибка при отправке данных", error);
  }
}

</script>

<template>
  <h3>Добавить статью</h3>
  <p><label>Название: </label><input v-model="name"></p>
  <p><label>Тип статьи: </label>
    <select v-model="recordType">
    <option v-for="type in types">{{type}}</option>
  </select>
  </p>
  <p><label>Колличество: </label><input type="number" v-model="amount"></p>
  <p><label>Источник: </label><input v-model="source"></p>
  <p><label>Дата: </label><input type="datetime-local" v-model="date"></p>
  <p v-if="recordType ==='Expense'"><label>Группа:</label>
    <select v-model="group">
      <option v-for="grouptype in groupExpence" v-bind:value="grouptype.value">{{grouptype.name}}</option>
    </select>
  </p>
  <button v-on:click="sendRecord">Создать статью</button>
</template>

<style scoped>

</style>