<script>
import Record from "./Record.vue";
import axios from "axios";
export default {
    data() {
        return {
            records: []
        }
    },
    components: {Record},
    methods: {
        async getRecordsAsync() {
            try {
                const response = await axios.get("https://localhost:7000/api/records")
                this.records = response.data
            } catch (e) {
                console.log(e.message)
            }
        }
    }
}
</script>

<template>
    <button @click="getRecordsAsync">Get records</button>
    <hr class="delimiter">
    <table>
        <Record v-for="recordItem in records" :recordData="recordItem" />
    </table>
</template>

<style>
.delimiter {
    margin: 10px 0;
}

button {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
</style>