<script>
export default {
    props: ["recordData"]
}
</script>

<template>
    <tr>
        <td class="recordName">{{recordData.name}}</td>
        <td>{{recordData.recordType}}</td>
        <td>{{recordData.source}}</td>
        <td>{{recordData.creationDate}}</td>
        <td>{{recordData.amount.amount}}</td>
        <td>{{recordData.amount.currency.code}}</td>
    </tr>
</template>

<style>
td {
    border: 1px solid black;
    padding: 5px;
}

.recordName {
    width: 100%;
}
</style>