﻿<script>
import Record from "./Record.vue";
import axios from "axios";

export default {
  data() {
    return {
      period: '01',
      options: [
        { text: 'Jan', value: '01' },
        { text: 'Feb', value: '02' },
        { text: 'Mar', value: '03' },
        { text: 'Apr', value: '04' },
        { text: 'May', value: '05' },
        { text: 'Jun', value: '06' },
        { text: 'Jul', value: '07' },
        { text: 'Aug', value: '08' },
        { text: 'Sep', value: '09' },
        { text: 'Oct', value: '10' },
        { text: 'Nov', value: '11' },
        { text: 'Dec', value: '12' }
      ],
      statement: {},
      records: [],
      obj: {type: '', currency: '', period: ''},
      responseObj: {}
    };
  },
  components: {Record},
  methods: {
    async GenerateStatementAsync() {
      try {
        const response = await axios.post("https://localhost:7000/api/statement/post", this.obj)
        console.log(response)
        this.responseObj = response.data;
      } catch (e) {
        console.log(e.message)
      }
    },
  },
};
</script>

<template>

  <div>Type: {{ obj.type }}</div>

  <select v-model="obj.type">
    <option disabled value="">Select statement type</option>
    <option value="Revenue">Revenue</option>
    <option value="Expense">Expense</option>
  </select>

  <div>Currency: {{ obj.currency }}</div>

  <select v-model="obj.currency">
    <option disabled value="">Select statement currency</option>
    <option value="KZT">KZT</option>
    <option value="USD">USD</option>
  </select>


  <div>Selected: {{ obj.options }}</div>

  <select v-model="obj.period">
    <option v-for="option in options" :value="option.value">
      {{ option.text }}
    </option>
  </select>

  <button @click="GenerateStatementAsync">Generate Statement</button>

  <table>
    <Record v-for="recordItem in responseObj.records" :recordData="recordItem" />
  </table>

</template>

<style scoped>
</style>